<%- include("_header") %>

<h1>Blogs</h1>
<div class="blog-wrapper">
  <div class="blog-each">
    <h2></h2>
    <h1></h1>
    <p></p>
    <div class="blog-button"></div>
  </div>
</div>

<%- include("_footer") %>
